@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,800,900');


body {
  background:#fff;
}

h1,h2,h3,h4,h5,h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #333333;
  margin: 0;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.pt-50 {
  padding-top: 50px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-87 {
  padding-bottom: 87px;
}

.pt-155 {
  padding-top: 155px;
}

.pb-135 {
  padding-bottom: 135px;
}

.text-center{
  text-align:center;
}
